<footer>
  <div class="container-fluid bg-dark">
    <div class="container py-5">
      <div class="row gx-md-5 gx-0 gy-3">
        <div class="col-md-3" *ngFor="let i of [1,2,3,4]">
          <ul class="list-unstyled">
            <li>
              <a href="#" class="link-light">
                <i class="bi bi-house"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="link-light">
                <i class="bi bi-house"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="link-light">
                <i class="bi bi-house"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="link-light">
                <i class="bi bi-house"></i>
                Home
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
